body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D5E1EF;
}

img {
  border-radius: 10px;
}

.frame {
  background-color: green;
  width: calc(5.35211268vw + 306.9295774px);
  height: calc(14.189189191vh + 385.78378378px);
  filter: drop-shadow(8px 8px black);
  border-radius: 20px;
}

.frame:hover {
  filter: drop-shadow(16px 16px black);
}

.imagecontainer {
  margin: 24px;
  height: 200px;
  width: auto;
  background-color: pink;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.textcontainer {
  margin-left: 24px;
  margin-right: 24px;
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tccategory {

}
